<nav class="breadcrumb"><i class="fa fa-home"></i> 首页 <span class="c-gray en">&gt;</span>系统管理<span
    class="c-gray en">&gt;</span>资源管理
</nav>
<div class="contentContainer viewAni ng-scope" style="">
  <style class="ng-scope">
    .del_class_0 {
      color: green !important;
    }

    .del_class_1 {
      color: red !important;
    }
  </style>
  <div class="content_box ng-scope" perfect-scrollbar=""
       wheel-propagation="false" wheel-speed="10" min-scrollbar-length="20"
       ng-scrollbars="">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-th-list"></i> 资源管理</h3>
      </div>
      <div class="panel-body">
        <div class="content_header form-inline">
          <form class="ng-pristine ng-valid ng-valid-date">
            <div class="form-group">
              <input type="text" class="form-control input-text" style="width:250px;height: 35px;"
                     placeholder="资源名称" ng-model="resourceParams.description">
              <div class="form-group" style="overflow: inherit;">
              </div>
            </div>
            <div class="form-group" style="overflow: inherit;">
              <label class="lbl_search">类型:</label> <select
                ng-model="resourceParams.status"
                class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              <option value="">全部</option>
              <option value='RESOURCE_MENU'>菜单</option>
              <option value='RESOURCE_BUTTON'>按钮</option>
              <option value='RESOURCE_COMPONENT'>导航组件</option>
            </select>
            </div>
            <div class="form-group" style="overflow: inherit;">
              <label class="lbl_search">状态:</label> <select
                ng-model="resourceParams.status"
                class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              <option value="">全部</option>
              <option value='STATUS_NORMAL'>正常</option>
              <option value='STATUS_DISABLED'>禁用</option>
            </select>
            </div>
            <div class="clear_float"></div>
            <div class="agent_btn">
              <button type="submit" class="btn btn-primary"
                      ng-click="getResources()">
                <i class="fa fa-search"></i>搜索
              </button>
              <button class="btn btn-default" ng-click="resetParams()"><i class="fa fa-wrench"></i>重置
              </button>
              <button type="button" class="btn btn-success fr"
                      ui-sref="me.addResource">新增资源
              </button>
            </div>
          </form>
        </div>
        <div class="content_body">
          <div class="table-responsive">
            <table class="table table-border table-bordered table-bg">
              <thead>
              <tr>
                <th scope="col" colspan="11">功能节点</th>
              </tr>
              <tr class="text-c">
                <th>编号</th>
                <th>权限名称</th>
                <th>请求方式</th>
                <th>权限串</th>
                <th>类型</th>
                <th>状态</th>
                <th>创建人</th>
                <th>创建时间</th>
                <th>修改人</th>
                <th>修改时间</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr class="text-c" ng-repeat="x in resources">
                <td class="nowrap">
                  <span ng-if="x.id.length>6">{{x.id | limitTo:6}}***</span>
                  <span ng-if="x.id.length<7">{{x.id}}</span>
                </td>
                <td class="text-l">{{x.description}}</td>
                <td>{{x.methods}}</td>
                <td class="text-l">{{x.resource}}</td>
                <td>
                  <span ng-if="x.type == 'RESOURCE_MENU'">菜单</span>
                  <span ng-if="x.type == 'RESOURCE_BUTTON'">按钮</span>
                  <span ng-if="x.type == 'RESOURCE_COMPONENT'">导航组件</span>
                </td>
                <td class="text-l">
                  <span ng-if="x.status == 'STATUS_NORMAL'">正常</span>
                  <span ng-if="x.status == 'STATUS_DISABLED'" class="require_span">禁用</span>
                </td>
                <td class="nowrap">{{x.creator.nickname}}</td>
                <td class="nowrap">{{x.createDate | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td class="nowrap">{{x.modifier.nickname}}</td>
                <td class="nowrap">{{x.modifiedDate | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td class="f-14">
                  <button class="btn btn-warning" ng-show="x.status == 'STATUS_NORMAL'"
                          ui-sref="me.editResource({resourceId: x.id})">编辑
                  </button>
                  <button class="btn btn-danger" ng-show="x.status == 'STATUS_NORMAL'"
                          ng-click="notResource(x.id, true, $index)">禁用
                  </button>
                  <button class="btn btn-success" ng-show="x.status == 'STATUS_DISABLED'"
                          ng-click="notResource(x.id, true, $index)"><i
                      class="fa fa-check-square"></i>启用
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="page_box">
            <div class="col-lg-4 col-sm-4">
              共<span class="ng-binding">{{pageParams.totalItems}}</span>条数据，每页<span
                class="ng-binding">{{pageParams.itemsPerPage}}</span>条。
            </div>

            <ul uib-pagination total-items="pageParams.totalItems"
                ng-model="pageParams.currentPage" max-size="pageParams.maxSize"
                previous-text="上一页" next-text="下一页"
                items-per-page="pageParams.itemsPerPage" ng-change="getResources()"
                class="pagination-sm" boundary-link-numbers="true"></ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>