<div class="modal-dialog ">
  <div class="modal-content">
    <style class="ng-scope">
      .col-md-2 {
        width: 18.66666667%;
      }

      @media (min-width: 992px) {
        .form-tips {
          padding-left: 30px;
        }
      }
    </style>
    <div class="modal-header ng-scope">
      <h3 class="modal-title">修改用户信息</h3>
    </div>
    <div class="modal-body ng-scope">
      <form class="form-horizontal" name="userForm" style="">
        <div class="form-group">
          <label class="col-md-2 control-label"><span class="require_span">*</span>用户昵称: </label>
          <div class="col-md-9"
               ng-class="{ 'has-error' : userForm.nickname.$invalid && (!userForm.nickname.$pristine || userForm.nickname.$touched) }">
            <input type="text" class="form-control" placeholder="请输入用户昵称" name="nickname"
                   ng-model="userInfo.nickname" ng-minlength="2" ng-maxlength="20" required=""
                   style="">
          </div>
          <div class="col-md-9 col-md-offset-2 form-tips"
               ng-if="!userForm.nickname.$pristine || userForm.nickname.$touched"
               ng-messages="userForm.nickname.$error" role="alert">
            <ng-messages-include src="views/user/errors.html"></ng-messages-include>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">密码: </label>
          <div class="col-md-9"
               ng-class="{ 'has-error' : userForm.password.$invalid && (!userForm.password.$pristine || userForm.password.$touched) }">
            <input type="password" class="form-control" placeholder="默认为原密码" name="password"
                   ng-model="userInfo.password" ng-pattern="/^[a-zA-Z\d]{6,20}$/" style="">
          </div>
          <div class="col-md-9 col-md-offset-2 form-tips"
               ng-if="!userForm.password.$pristine || userForm.password.$touched"
               ng-messages="userForm.password.$error" role="alert">
            <div ng-message="pattern">密码长度必须为6-12个字符，大小写英文字符或数字</div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer ng-scope">
      <button class="btn btn-primary" ng-disabled="userForm.$invalid" type="button"
              ng-click="submit()">提交
      </button>
      <button class="btn btn-warning" type="button" ui-sref="me.user">取消</button>
    </div>
  </div>
</div>