<nav class="breadcrumb"><i class="fa fa-home"></i> 首页 <span class="c-gray en">&gt;</span>用户管理<span
    class="c-gray en">&gt;</span>后台用户管理
</nav>
<div class="contentContainer viewAni ng-scope" style="">
  <style class="ng-scope">
    .del_class_0 {
      color: green !important;
    }

    .del_class_1 {
      color: red !important;
    }
  </style>
  <div class="content_box ng-scope" perfect-scrollbar=""
       wheel-propagation="false" wheel-speed="10" min-scrollbar-length="20"
       ng-scrollbars="">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-th-list"></i> 后台用户管理</h3>
      </div>
      <div class="panel-body">
        <div class="content_header form-inline">
          <form class="ng-pristine ng-valid ng-valid-date">
            <div class="form-group">
              <label>用户名称:</label> <input type="text"
                                          class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                          ng-model="getUserParams.nickName" placeholder="用户名称">
            </div>
            <div class="form-group" style="overflow: inherit;">
              <label>账号:</label> <input type="text"
                                        class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                        ng-model="getUserParams.username" placeholder="用户账号">
            </div>
            <div class="form-group" style="overflow: inherit;">
              <label class="lbl_search">状态:</label> <select
                ng-model="getAgentsParams.status"
                class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              <option value="">全部</option>
              <option value=1>正常</option>
              <option value=0>禁用</option>
            </select>
            </div>
            <div class="clear_float"></div>
            <div class="agent_btn">
              <button type="submit" class="btn btn-primary"
                      ng-click="getUsers()">
                <i class="fa fa-search"></i>搜索
              </button>
              <button class="btn btn-default" ng-click="resetParams()"><i class="fa fa-wrench"></i>重置
              </button>
              <button type="button" class="btn btn-success fr"
                      ui-sref="me.addUser">新增用户
              </button>
            </div>
          </form>
        </div>
        <div class="content_body">
          <div class="table-responsive">
            <table
                class="table table-bordered table-hover table-s table-overflow-x text-c">
              <thead>
              <tr class="text-c">
                <th>账号</th>
                <th>用户名称</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>最后登录时间</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr class="ng-scope" ng-repeat="x in users">
                <td class="ng-binding">{{x.username}}</td>
                <td class="ng-binding">{{x.nickname}}</td>
                <td class="ng-binding">{{x.createDate | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td class="ng-binding">{{x.modifiedDate | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td class="ng-binding">{{x.lastLoginTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td class="ng-binding">
                  <span ng-if="x.status == 'STATUS_NORMAL'">正常</span>
                  <span ng-if="x.status == 'STATUS_DISABLED'" class="require_span">禁用</span>
                </td>
                <td class="ng-binding">
                  <button ng-if="x.status != STATUS_DISABLED" class="btn btn-warning">修改</button>
                  <button ng-if="x.status != STATUS_DISABLED"
                          ng-click="notAgent(x.id, false, $index)" class="btn btn-danger">禁用
                  </button>
                  <button ng-if="x.status == STATUS_DISABLED"
                          ng-click="notAgent(x.id, true, $index)" class="btn btn-success">启用
                  </button>
                  <button ng-if="x.status != STATUS_DISABLED"
                          ui-sref="me.editAgent({agentId: x.id})" class="btn btn-success">设置角色
                  </button>
                  <button ng-if="x.status != STATUS_DISABLED" ng-click="resetPassword(x.id)"
                          class="btn btn-info">重置密码
                  </button>
                  <button class="btn btn-danger" ng-click="deleteUser(x.id)">删除</button>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="page_box">
            <div class="col-lg-4 col-sm-4">
              共<span class="ng-binding">{{pageParams.totalItems}}</span>条数据，每页<span
                class="ng-binding">{{pageParams.itemsPerPage}}</span>条。
            </div>

            <ul ng-if="pageParams.totalItems" uib-pagination total-items="pageParams.totalItems"
                ng-model="pageParams.currentPage" max-size="pageParams.maxSize"
                previous-text="上一页" next-text="下一页"
                items-per-page="pageParams.itemsPerPage" ng-change="getUsers()"
                class="pagination-sm" boundary-link-numbers="true"></ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
