<nav class="breadcrumb"><i class="fa fa-home"></i> 首页 <span class="c-gray en">&gt;</span>系统管理<span
    class="c-gray en">&gt;</span>角色管理
</nav>
<div class="contentContainer viewAni ng-scope" style="">
  <style class="ng-scope">
    .del_class_0 {
      color: green !important;
    }

    .del_class_1 {
      color: red !important;
    }
  </style>
  <div class="content_box ng-scope" perfect-scrollbar=""
       wheel-propagation="false" wheel-speed="10" min-scrollbar-length="20"
       ng-scrollbars="">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-th-list"></i> 角色管理</h3>
      </div>
      <div class="panel-body">
        <div class="content_header form-inline">
          <form class="ng-pristine ng-valid ng-valid-date">
            <div class="form-group">
              <label>角色名称:</label> <input type="text"
                                          class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                          placeholder="角色名称" ng-model="getRolesParams.roleName">
            </div>
            <div class="form-group" style="overflow: inherit;">
              <label class="lbl_search">状态:</label> <select
                ng-model="getRolesParams.status"
                class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
              <option value="">全部</option>
              <option value="1">正常</option>
              <option value="0">禁用</option>
            </select>
            </div>
            <div class="clear_float"></div>
            <div class="agent_btn">
              <button type="submit" class="btn btn-primary"
                      ng-click="getRoles()">
                <i class="fa fa-search"></i>搜索
              </button>
              <button class="btn btn-default" ng-click="resetParams()"><i class="fa fa-wrench"></i>重置
              </button>
              <button type="button" class="btn btn-success fr"
                      ui-sref="me.addRole">新增角色
              </button>
            </div>
          </form>
        </div>
        <div class="content_body">
          <div class="table-responsive">
            <table
                class="table table-bordered table-hover table-s table-overflow-x text-c">
              <thead>
              <tr>
                <th scope="col" colspan="10">角色管理</th>
              </tr>
              <tr class="text-c">
                <th>编号</th>
                <th>角色名称</th>
                <th>创建人</th>
                <th>创建时间</th>
                <th>修改人</th>
                <th>修改时间</th>
                <th>状态</th>
                <th>说明</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr class="text-c" ng-repeat="x in roles">
                <td class="nowrap">
                  {{$index+1}}
                </td>
                <td>{{x.name}}</td>
                <td class="nowrap">{{x.creator.nickname}}</td>
                <td class="nowrap">{{x.createDate | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td class="nowrap">{{x.modifier.nickname}}</td>
                <td class="nowrap">{{x.modifiedDate | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td>
                  <span ng-if="x.status == 'STATUS_NORMAL'">正常</span>
                  <span ng-if="x.status == 'STATUS_DISABLED'" class="require_span">禁用</span>
                </td>
                <td class="nowrap">{{x.description}}</td>
                <td class="f-14">
                  <button ng-show="x.status == 'STATUS_NORMAL'" class="btn btn-warning"
                          ui-sref="me.modifyRole({roleId:x.id})">编辑
                  </button>
                  <button ng-show="x.status == 'STATUS_NORMAL'" class="btn btn-danger"
                          ng-click="notRole(x.id, $index)">禁用
                  </button>
                  <button ng-show="x.status == 'STATUS_DISABLED'" class="btn btn-success"
                          ng-click="notRole(x.id, $index)">启用
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="page_box">
            <div class="col-lg-4 col-sm-4">
              共<span class="ng-binding">{{pageParams.totalItems}}</span>条数据，每页<span
                class="ng-binding">{{pageParams.itemsPerPage}}</span>条。
            </div>

            <ul ng-if="pageParams.totalItems" uib-pagination total-items="pageParams.totalItems"
                ng-model="pageParams.currentPage" max-size="pageParams.maxSize"
                previous-text="上一页" next-text="下一页"
                items-per-page="pageParams.itemsPerPage" ng-change="getRoles()"
                class="pagination-sm" boundary-link-numbers="true"></ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>